body {
	background-color: #BDBDBD;
}


.heading h1 {
	font-size: 50pt ;
	color: #212121 ;
	margin-left: 500px;
	font-family: 'Brush Script MT';
	text-decoration: underline;
}


.post {
	margin: 10px;
	background-color: #E0E0E0;
	padding: 5px;
	border-style: groove;
	border-color: #000000 ;
}

.post h2 a{
	color: #757575;
	font-family: 'Lobster', cursive;
	text-decoration: underline;
}

.post p {
	font-size: 16pt ;
	font-family: 'Papyrus';
}

.post time {
	color: #000000;
	font-family: 'Lobster', cursive;
}